#root {
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 320px;
  min-height: 100vh;
}

main {
  font-size: medium;
}

footer {
  font-size: small;
}

.input {
  padding: 10px;

  width: 250px;

  text-align: center;

  background: none;
  color: inherit;
  cursor: pointer;
  border: none;
}

.input:focus {
  outline: none;
  border: none;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.result {
  padding: 10px;
}